<form>
	<list>
		<div class="form-item">
			<p>1. {{"ampacity_instruction_1" | translate}}</p>
		</div>
		<div class="form-item">
			<label class="item item-input item-select">
			    <div class="input-label">
			      {{"wire_material_label" | translate}}
			    </div>
			    <select ng-model="wireMaterial">
			      <option ng-repeat="material in wireMaterials" value="{{material.type}}">{{material.name}}</option>
			    </select>
			 </label>
		</div>
		<div class="form-item">
			<label class="item item-input item-select">
			    <div class="input-label">
			      {{"conductor_type_label" | translate}}
			    </div>
			    <select ng-model="conductorType">
			      <option ng-repeat="conductor in conductorTypes" value="{{conductor.tc}}">{{conductor.tc | uppercase}}</option>
			    </select>
			 </label>
		</div>
		<div class="form-item">
			<label class="item item-input">
			    <input type="number" placeholder="{{'continuos_current_label' | translate}}" ng-model="continousCurrent"></input>
			 </label>
		</div>
		<div class="form-item">
			<label class="item item-input">
			    <input type="number" placeholder="{{'non_continuos_current_label' | translate}}" ng-model="nonContinousCurrent"></input>
			 </label>
		</div>
		<div class="form-item">
			<label class="item item-input item-select">
			    <div class="input-label">
			      {{"terminal_temp_label" | translate}}
			    </div>
			    <select ng-model="terminalTemp">
			      <option ng-repeat="terminalTemp in terminalTemps" value="{{terminalTemp.value}}">{{terminalTemp.name | uppercase}}</option>
			    </select>
			 </label>
		</div>
		<div class="form-item">
			<label class="item item-input item-select">
			    <div class="input-label">
			      {{"ambient_temperature_label" | translate}}
			    </div>
			    <select ng-model="ambientTemperature">
			      <option ng-repeat="ambientTemperature in ambientTemps" value="{{ambientTemperature.type}}">{{ambientTemperature.name | uppercase}}</option>
			    </select>
			 </label>
		</div>
		<div class="form-item">
			<label class="item item-input item-select">
			    <div class="input-label">
			      {{"current_conductors_label" | translate}}
			    </div>
			    <select ng-model="conductorsRange">
			      <option ng-repeat="conductorsRange in conductorsRanges" value="{{conductorsRange.value}}">{{conductorsRange.name | uppercase}}</option>
			    </select>
			 </label>
		</div>
		<div class="form-item">
			<p class="error" ng-show="showCBError">* {{"cb_error_label" | translate}}</p>
		</div>
		<div class="form-item">
			<p class="error" ng-show="showInputError">* {{"ampacity_error_1_label" | translate}}</p>
		</div>
		<div class="form-item">
			<button class="green-bg full-width" ng-click="calculate()">
				<span class="icon ion-ios-calculator"></span>
				<span class="label">{{"calculate_label" | translate}}</span>
			</button>
		</div>
	</list>
	<div class="clearfix"></div>
</form>