<form>
	<list>
		<div class="form-item">
			<p>1. {{"conduit_instruction_1" | translate}}</p>
		</div>
		<fieldset>
			<div class="form-item">
				<label class="item item-input item-select">
				    <div class="input-label">
				      {{"conductor_size_label" | translate}}
				    </div>
				    <select ng-model="currentConductor.size">
				      <option ng-repeat="size in wireSizes">{{size}}</option>
				    </select>
				 </label>
			</div>
			<div class="form-item custom border">
				<p class="input-label">{{'conductors_label' | translate}}</p>
				<label class="item item-input">
				    <input type="number" placeholder="0" ng-model="currentConductor.wires"></input>
				 </label>
				 <div class="clearfix"></div>
			</div>
			<div class="form-item">
				<label class="item item-input item-select">
				    <div class="input-label">
				      {{"insulation_type_label" | translate}}
				    </div>
				    <select ng-model="currentConductor.insulation">
				      <option ng-repeat="type in insulationTypes" value="{{type.type}}">{{type.type}}</option>
				    </select>
				 </label>
			</div>
			<div class="form-item">
				<p class="error" ng-show="showConductorError">* {{"conduit_fill_error_3_label" | translate}}</p>
			</div>
			<div class="form-item">
				<button class="green-bg full-width" ng-click="addConductor(currentConductor)">
					<span class="icon ion-plus-round"></span>
					<span class="label">{{"add_label" | translate}}</span>
				</button>
			</div>
		</fieldset>
		<div class="conductors-container" ng-show="conductors.length">
			<h3>{{"input_values_label" | translate}}</h3>
			<div class="data-container">
				<div class="item" ng-repeat="conductor in conductors">
					<h6 class="item-label">{{"wires_label" | translate}}</h6>
					<h6 class="item-label">{{"size_label" | translate}}</h6>
					<h6 class="item-label">{{"insulation_label" | translate}}</h6>
					<p class="item-data">{{conductor.wires}}</p>
					<p class="item-data">{{conductor.size | translate}}</p>
					<p class="item-data">{{conductor.insulation | translate}}</p>
					<span class="icon ion-ios-close-outline" ng-click="removeConductor(conductor)"></span>
					<div class="clearfix"></div>
				</div>
			</div>
			<h4>{{"total_area_label" | translate}}: {{currentArea | number : 4}} {{"area_units" | translate}}<sup>2</sup></h4>
		</div>
		<div class="form-item">
			<p>2. {{"conduit_instruction_2" | translate}}</p>
			<label class="item item-input item-select">
			    <div class="input-label">
			      {{"conduit_type_label" | translate}}
			    </div>
			    <select ng-model="currentConductorType">
			      <option ng-repeat="type in conduitTypes" value="{{type.type}}">{{type.name}}</option>
			    </select>
			 </label>
		</div>
		<div class="form-item">
			<p class="error" ng-show="showCalculateError">* {{"conduit_fill_error_2_label" | translate}}</p>
		</div>
		<div class="form-item">
			<p>3. {{"conduit_instruction_3" | translate}}</p>
			<button class="green-bg full-width" ng-click="calculate()">
				<span class="icon ion-ios-calculator"></span>
				<span class="label">{{"calculate_label" | translate}}</span>
			</button>
		</div>
	</list>
	<div class="clearfix"></div>
	
</form>