<ion-view view-title="Conduit" ng-controller="ConduitCtrl as conduitCtrl" nav-direction="forward">
  <ion-pane>
  	<div class="secondary-page">
  		<secondary-menu></secondary-menu>
	  	<div class="header">
	  		<img ng-src="img/secondary/logo-conduit.png">
	  		<h1>{{"conduit_fill_label" | translate}}<br/><span>{{"calculator_label" | translate}}</span></h1>
	  		<div class="clearfix"></div>
	  	</div>
  		<div class="curves top">
  			<img ng-src="img/common/curves-simple.png" />
  		</div>
      <conduit-form></conduit-form>
  		<div class="bottom">
	  		<img ng-src="img/secondary/footer.png" />
	  	</div>
  	</div>
  </ion-pane>
</ion-view>
