<ion-view view-title="Ampacity" ng-controller="AmpacityCtrl as ampacityCtrl" nav-direction="forward">
  <ion-content>
  	<div class="secondary-page">
  		<secondary-menu></secondary-menu>
	  	<div class="header">
	  		<img ng-src="img/secondary/logo-help.png">
	  		<h1>{{"help_label" | translate}}</h1>
	  		<div class="clearfix"></div>
	  	</div>
  		<div class="curves top">
  			<img ng-src="img/common/curves-simple.png" />
  		</div>
  		<div class="help" ng-if="language=='es'">
  			<h2>Uso de la Aplicación:</h2>
  			<ol>
  				<li>
  					a)	Para calcular el Calibre del Conductor inicie el proceso en el botón “Ampacidad”, proporcionando los datos de entrada requeridos. Guarde el Calibre calculado.
  				</li>
  				<li>
  					b)	Proceda de nuevo al cálculo del “Calibre del Conductor” en el botón de “Caída de Voltaje” usando el dato de la “Distancia del Circuito” y la “corriente total de la carga dividida entre el número de Conductores en Paralelo”.
  				</li>
  				<li>
  					c)	Compare los dos resultados obtenidos de Calibre del Conductor y escoja el Calibre mayor como el resultado final.
  				</li>
  				<li>
  					d)	Nunca use independientemente el cálculo del Calibre del Conductor realizado en el botón de “Caída de Voltaje”, porque podría darle un resultado erróneo. Siempre compare este resultado con el resultado del Calibre del Conductor obtenido en el botón de “Ampacidad” y escoja el mayor.
  				</li>
  				<li>
  					e)	Esta Aplicación toma en cuenta la reactancia inductiva de la carga y el efecto inductivo del conduit metálico.
  				</li>
  				<li>
  					f)	Los cálculos están basados en la Tabla 6.1.4.2.1 de la norma UL 489, Edición 12, para los interruptores automáticos. Y en la Tabla 310.15(B)(16) del NEC 2014, para las ampacidades de los conductores.
  				</li>
  			</ol>
        <p>Para consultas y comentarios, por favor comuniquese a: <a href="mailto:info.centroamerica@generalcable.com">info.centroamerica@generalcable.com</a></p>
  			<p><b>Nota: Use esta Aplicación solamente como una guía con propósitos informativos y demostrativos. Para cálculos más precisos de construcción o diseño, refiérase directamente al Código Eléctrico y a los Reglamentos Eléctricos vigentes en el país.</b></p>
  		</div>
  		<div class="help" ng-if="language=='en'">
  			<h2>Using the Application:</h2>
  			<ol>
  				<li>
  					a)	To calculate the “Wire Size” start the process with the "Ampacity" button. Provide the required input data. Save the calculated “Wire Size”.
  				</li>
  				<li>
  					b)	Proceed to calculate the “Wire Size” with the “Voltage Drop” button. Provide the inputs “Circuit length" and the “full load” current divided by the number of Parallel Conductors”.
  				</li>
  				<li>
  					c)	Compare the two obtained wire sizes and choose the bigger size as the final result.
  				</li>
  				<li>
  					d)	Never use independently the wire size calculated with the "Voltage Drop" button, because it would give you a wrong result. Always compare this result with the wire size obtained with the "Ampacity" button, and choose the bigger size.
  				</li>
  				<li>
  					e)	The Application takes into account the inductive reactance of the load and the inductive effect of metal conduit.
  				</li>
  				<li>
  					f)	The calculations are based on Table 6.1.4.2.1 of the standard UL 489, Twelfth Edition, for Molded-Case Circuit Breakers, and Table 310.15 (B) (16) of the National Electric Code, 2014 Edition, for the conductor ampacities.
  				</li>
  			</ol>
        <p>For questions or comments, please send an email to: <a href="mailto:info.centroamerica@generalcable.com">info.centroamerica@generalcable.com</a></p>
  			<p><b>Note: Use this Application only as a guide for information and demonstration purposes. For more accurate electrical calculations or designs, please refer directly to the Electrical Code and regulations in force in your country.</b></p>
  		</div>
  		<div class="bottom arcs">
	  		<img ng-src="img/secondary/footer.png" />
	  	</div>
  	</div>
  </ion-content>
</ion-view>
