<ion-view view-title="Home" ng-controller="HomeCtrl as homeCtrl" nav-direction="forward">
  <ion-pane>
  	<div class="home">
  		<language-menu></language-menu>
	  	<div class="logo-container">
			<div class="gn-logo">
	  			<img class="" ng-src="img/gn-logo.png"/>
	  		</div>
	  		<div class="gn-logo-name">
	  			<img class="" ng-src="img/gc-logo-name.png"/>
	  		</div>
	  		<div class="clearfix"></div>
	  	</div>
  		<div class="main-arcs">
  			<img ng-src="img/main-arcs.png" />
  		</div>
  		<div class="bottom">
	  		<div class="our-brands green-bg">
	  			<img ng-src="img/home/{{'our_brands_image' | translate}}" />
	  		</div>
	  		<div class="main-buttons row">
	  			<button class="button button-full ampacity col col-33" ui-sref="ampacity">
				  <img ng-src="img/home/logo-ampacity.png" />
				  <h2>{{"ampacity_label" | translate}}</h2>
				</button>
				<button class="button button-full voltage-drop col col-33" ui-sref="voltage-drop">
				  <img ng-src="img/home/logo-voltage-drop.png" />
				  <h2>{{"voltage_drop_label" | translate}}</h2>
				</button>
				<button class="button button-full conduit col col-33" ui-sref="conduit">
				  <img ng-src="img/home/logo-conduit.png" />
				  <h2>{{"conduit_fill_label" | translate}}</h2>
				</button>
	  		</div>
	  		<button class="button button-full help col col-100" ui-sref="help">
	  			<div>
	  				<img ng-src="img/secondary/logo-help.png">
					<h2>{{"help_label" | translate}}</h2>
					<div class="clearfix"></div>
				</div>
			</button>
	  		<div class="copyright green-bg">
	  			<p><b>&copy; <a href="http://www.generalcable.com/">General Cable</a>. </b>{{"copyright_label" | translate}}</p>
	  		</div>
	  	</div>
  	</div>
  </ion-pane>
</ion-view>
