<ion-view view-title="VoltageDrop" ng-controller="VoltageDropCtrl as voltageDropCtrl" nav-direction="forward">
  <ion-content>
  	<div class="secondary-page">
  		<secondary-menu></secondary-menu>
	  	<div class="header">
	  		<img ng-src="img/secondary/logo-voltage-drop.png">
	  		<h1>{{"voltage_drop_label" | translate}}<br/><span>{{"calculator_label" | translate}}</span></h1>
	  		<div class="clearfix"></div>
	  	</div>
  		<div class="curves top">
  			<img ng-src="img/common/curves-simple.png" />
  		</div>
      <voltage-drop-form></voltage-drop-form>
  		<div class="bottom arcs">
	  		<img ng-src="img/secondary/footer.png" />
	  	</div>
  	</div>
  </ion-content>
</ion-view>
