
@font-face {
  font-family: 'DINOT-Medium';
  src: url('fonts/DINOT-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/DINOT-Medium.otf')  format('opentype'),
	     url('fonts/DINOT-Medium.woff') format('woff'), url('fonts/DINOT-Medium.ttf')  format('truetype'), url('fonts/DINOT-Medium.svg#DINOT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
