//Common
.clearfix{
	clear: both;
}

.scroll{
	min-height: 100%;
}

.bottom{
	position: absolute;
	bottom: 0;
	width: 100%;

	&.arcs{
		z-index: -1;
		position: relative;
	}
}

.top{
	position: absolute;
	top: 0;
	width: 100%;
}

.green{
	color: #139f58;
}

.green-bg{
	background-color: #139f58;
}

.main-arcs{
	img{
		width: 100%;
	}
}

.border{
	border: 1px solid #139f58;
}

img{
	display: block;
}

h1, h2, h3, h4, h5, h6{
	font-family: "RobotoCondensedBold", Verdana, Arial;
	font-size: 20px;
}

p{
	font-family: "RobotoCondensedRegular", Verdana, Arial;
	font-size: 14px;

	b{
		font-family: "RobotoCondensedBold", Verdana, Arial;
	}
}

img{
	width: 100%;
}

button{
	padding: 0;
	border: none;

	&.full-width{
		width: 100%;
	}

	.icon{
		padding: 10px 15px;
    	display: inline-block;
    	background-color: #004522;
    	color: white;
    	float: left;

    	img{
    		width: 40%;
    		margin: 0 auto;
    	}

    	&.back{
    		padding: 14px 5px;
    	}
	}

	.label{
		padding: 10px 25px;
		color: white;
		font-family: "RobotoBold", Verdana, Arial;
		text-transform: uppercase;
		line-height: 38px;
	}
}

.error{
	color: red;
}

secondary-menu{
	width: 100%;
	display: block;
	position: absolute;
	min-height: 35px;
}

//Menu at the top
.toggle-menu{

	position: absolute;
	width: 100%;
	margin-top: 10px;
	min-height: 35px;

	.menu-container{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;

		h3{
			font-size: 16px;
			color: #c9c9c9;
			text-transform: uppercase;
			font-family: "RobotoCondensedRegular", Verdana, Arial;
			float: right;
			margin: 3% 0 0 0;
		}

		a{
			float: right;
			width: 10%;
			margin-left: 5px;
			margin-right: 20px;

			img{
				width: 100%;
			}
		}

		.options{
			position: absolute;
			width: 100%;
			text-align: right;
			padding-right: 20px;
			height: 100%;
			z-index: 3;

			li{
				float: right;
				background-color: white;
				width: 60%;
				text-align: left;
				border: 1px solid #139f58;
				height: 100%;
				min-height: 50px;
				padding-left: 20px;

				a{
					width: 80%;
					color: #666666;
					text-decoration: none;
					font-size: 16px;
					float: left;
					line-height: 50px;
				}

				span{
					float: left;
					margin-top: 16px;
					font-size: 20px;
				}

				&.active{
					background-color: #139f58;
					
					a{
						color: white;
					}

					span{
						color: white;
					}
				}
			}
		}

		.menu-bg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: 2;
		}
	}
}

form{
	margin: 19% auto 5%;
	width: 90%;

	fieldset{
		border-color: #DDDDDD;
		border-radius: 5px;
	}

	.form-item{
		margin-top: 15px;
		font-family: "RobotoRegular", Verdana, Arial;

		p{
			color: #6d6e76;
		}

		.item{
			border-color: #009e49;

			select{
				padding: 0px 48px 0px 16px;
			}
			
		}

		.input-label{
			color: #ababab;
			font-size: 14px;
		}

		.error{
			color: red;
		}

		&.custom{
			p{
				font-family: "RobotoRegular", Verdana, Arial;
				float: left;
				width: 70%;
				padding: 12px 0 0 15px;
				margin-bottom: 0;
			}

			label{
				width: 60%;

				@media only screen and (min-device-width : 355px){
					width: 30%;
				}

				input{
					border-left: 1px solid #139f58;
					padding: 0 0 0 15px;
				}
			}

			.item{
				border: none;
				margin: 0;
			}
		}
	}

	.ion-ios-calculator{
		font-size: 18px;
		padding: 7px 15px;
	}
}