//Conduit Fill

.secondary-page{
	.curves{
		float: left;

		&.top{
			top: 0;
			position: relative;

			img{
				margin-top: -50px;
			}
		}
	}

	.results{
		&.conduit-results{
			margin-top: 0;
		}

		.total{
			padding-bottom: 5px;
		}
	}

}


//Popover
ion-popover-view.fit {
  height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

.popover {
	position: absolute;
	top: 5% !important;
	left: 10% !important;
	margin-top: 0;

	.pane{
		margin-top: 40px;
		padding: 0 10px 0;
	}

	.bar-header{
		h1{
			text-align: left;
			margin-left: 0;
			color: #6d6e76;
		}

		.icon{
			    text-align: right;
			    position: absolute;
			    right: 10px;
		}
	}

	fieldset{
		border: 0;

		.item{
			&:last-child{
				border-bottom: 1px solid #009e49;
			}
		}
	}
}

form{
	// .conductors-container{
	// 	color: #6d6e76;
	// 	margin-top: 15px;
	// 	border: 1px solid lightgray;
 //    	padding: 10px;

	// 	h3, h4{
	// 		font-size: 18px;
	// 		color: #6d6e76;
	// 		border-bottom: 1px solid #009e49;
	// 	}

	// 	.conductor{
	// 		border-bottom: 1px solid #009e49;

	// 		p{
	// 			float: left;
	// 			width: 95%;
	// 			margin-bottom: 0px;
	// 			margin-top: 10px;
	// 		}

	// 		span{
	// 			float: left;
	// 			font-size: 16px;
	// 			color: #004522;
	// 			padding-top: 10px;
	// 		}
	// 	}
	// }

	.conductors-container{
		color: #6d6e76;
		margin-top: 15px;
		border: 1px solid #DDDDDD;
	   	padding-bottom: 10px;
   	    border-radius: 5px;

	   	h3{
			font-size: 16px;
		    color: white;
		    border-bottom: 1px solid #009e49;
		    margin-bottom: 15px;
		    background-color: #004522;
		    padding: 5px 10px;
		    border-radius: 4px 4px 0 0;
		}

		h4{
			font-size: 16px;
			color: #6d6e76;
			margin-bottom: 0;
    		text-align: right;
    		padding-right: 15px;
		}

		.data-container{
			width: 90%;
			margin: 0 auto;
			border: 1px solid #DDDDDD;

			.item{
				border: none;
				background: none;
				padding-top: 10px;
				padding-bottom: 10px;

				.item-label{
					float: left;
					width: 30%;
					color: #6d6e76;
					font-size: 14px;
					font-family: "RobotoRegular", Verdana, Arial;
				}

				.item-data{
					float: left;
					width: 27%;
					border-bottom: 1px solid #019d56;
					margin-right: 3%;
	    			padding-bottom: 0px;
	    			color: #019d56;
	    			font-size: 14px;
					font-family: "RobotoRegular", Verdana, Arial;
					text-transform: uppercase;
				}

				&.data-row{
					.item-label{
						width: 50%;
						padding-left: 5px;
						margin-top: 15px;

						&.no-margin{
							margin-top: 0;
						}
					}

					.item-data{
						width: 43%;
						margin-right: 7%;
						padding-left: 10px;
					}
				}

				.icon{
					color: #019d56;
					font-size: 22px;
					margin-left: 5%;
					margin-top: 10px;
    				display: inline-block;
				}
			}
		}
	}
}