.help{
	h2{
		width: 80%;
		margin: 20px auto;
	}

	ol{
		li{
			width: 80%;
			margin: 20px auto;
			font-family: 'DINOT-Medium', "RobotoCondensedRegular", Verdana, Arial;
		}
	}

	p, b{
		width: 80%;
		margin: 20px auto;
		font-family: 'DINOT-Medium', "RobotoCondensedRegular", Verdana, Arial;
	}
}