.secondary-page{
	position: relative;
	min-height: 100vh;

	.header{
		width: 100%;
		margin-left: 20px;
		padding-top: 10px;

		img{
			width: 25%;
			float: left;
		}

		h1{
			float: left;
			width: 75%;
			font-size: 20px;
			line-height: 16px;
			margin-top: 10%;

			span{
				font-size: 14px;
				color: #009e49;
				text-transform: uppercase;
			}
		}
	}

	.curves{
		top: 9%;
		z-index: -1;
	}

	.results{
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 15%;

		.top-label{
			text-align: right;
			width: 80%;
			margin: 0 auto;
			color: #6d6e76;
			font-size: 12px;
			font-family: "RobotoRegular", Verdana, Arial;
		}

		.input-data{

			.data-container{
				width: 80%;
				margin: 0 auto;
				border: 1px solid #DDDDDD;

				.item{
					border: none;
					background: none;

					.item-label{
						float: left;
						width: 33%;
						color: #6d6e76;
						font-size: 14px;
						font-family: "RobotoRegular", Verdana, Arial;
					}

					.item-data{
						float: left;
						width: 30%;
						border-bottom: 1px solid #019d56;
						margin-right: 3%;
		    			padding-bottom: 0px;
		    			color: #019d56;
		    			font-size: 14px;
						font-family: "RobotoRegular", Verdana, Arial;
						text-transform: uppercase;
					}

					&.data-row{
						.item-label{
							width: 50%;
							padding-left: 5px;
							margin-top: 15px;

							&.no-margin{
								margin-top: 0;
							}
						}

						.item-data{
							width: 43%;
							margin-right: 7%;
							padding-left: 10px;
						}
					}
				}
			}
		}

		.results-data{
			padding-top: 20px;

			.item{
				border: none;
				padding: 0px 0 5px;
			}

			.item-label{
				width: 80%;
				color: #6d6e76;
				font-size: 15px;
				font-family: "RobotoRegular", Verdana, Arial;
				padding-bottom: 5px;
			}

			.item-data{
				width: 100%;
				border-bottom: 1px solid #019d56;
    			padding-bottom: 5px;
    			color: #019d56;
    			font-size: 15px;
				font-family: "RobotoRegular", Verdana, Arial;
				text-transform: uppercase;
			}
		}

		h3{
			span{
				font-size: 14px;
    			display: block;
			}
		}

		button{
			margin-top: 20px;
		}
	}
}